$sidenav-w: 60px;
$color-orange-0: rgb(255, 106, 6);
$color-orange: #ffa500;
$color-yellow: yellow;
$color-gray-1: #262729;
$color-white-2: rgb(184, 184, 184);
$color-white-3: rgb(133, 133, 133);
$color-blue: #92abcf;
$color-blue-2: #0f1724;
$color-black: #000000;
$color-card: #181818;//rgb(16, 16, 16);
$color-card-2: #333333;//rgb(16, 16, 16);
$color-card-0: rgba(51, 51, 51, 0.5);//rgb(16, 16, 16);
$color-bg: #0a0a09;//#14182a;
$color-dark-0: rgb(36, 36, 36);
$color-dark-1: #343434;
$color-dark-2: rgb(41, 41, 41);
$color-dark-3: rgb(69, 73, 74);
$color-dark-4: rgb(92, 97, 99); 
$color-dark-5: rgb(107, 111, 114);
$color-white-0: rgb(238, 238, 238);
$color-white-1: rgb(216, 216, 216);
$color-white-2: rgb(184, 184, 184);
$color-body: #121212;
$color-body2: #161616;
$color-header: $color-bg;
$dlg-border-color: #434343;
$dlg-bg-color: #333333;
$color-overlay: rgba(0, 0, 0, 0.7);

$on-bg-dark: #29333d;
$on-bg-tb: #292828;