@import "./vars";

.css-b62m3t-container {
    * {
        background-color: $color-black !important;
        border-color: $color-black !important;
        color: $color-blue !important;
      }
      .css-1pahdxg-control{
            box-shadow: none !important;
      }
      .css-1f43avz-a11yText-A11yText{
        display: none !important;
      }
}

