@import "@material-design-icons/font";
@import "@flaticon/flaticon-uicons/css/all/all";
@import "./colors";
@import "./vars";
@import "./classes";


@font-face {
    font-family: Poppins;
    src: url("/assets/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: Poppins;
    src: url("/assets/fonts/Poppins/Poppins-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: Poppins;
    src: url("/assets/fonts/Poppins/Poppins-Bold.ttf");
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: Poppins;
    src: url("/assets/fonts/Poppins/Poppins-ExtraBold.ttf");
    font-weight: 800;
    font-style: "extra-bold";
}

html,
body,
.__nuxt-error-page,
#__nuxt {
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif;
  @apply bg-base-100;
    * {
        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            //background-color: #6666;
            height: 2px !important;
            width: 2px !important;
        }
        &::-webkit-scrollbar {
            width: 4px;
            height: 4px;
            //background-color: #6666;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $color-orange;
        }
    }
}
main,
.sidebar {
    position: relative;
}

main {
    overflow-y: scroll;
    flex: 1;
}

.tu-app {
    position: relative;
    top: calc($sidenav-w);
    display: flex;
    flex-direction: row;
    overflow: hidden;
    max-height: calc(100vh - $sidenav-w);
}

.navbar {
    position: fixed;
    border-radius: 0px;
    z-index: 90;
    border-bottom: 1px solid $on-bg-tb;
    i{
        font-size: 17px;
    }
}

$shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.205);

.shadow {
    box-shadow: $shadow;
}
.sidebar {
    width: $sidenav-w;
    border-radius: 0;
    padding: 1.2rem 4px;
    border-right: 1px solid $on-bg-tb;
    z-index: 50;
    height: calc(100vh - $sidenav-w);
    i{
        font-size: 20px;
    }
}
@media screen and (max-width: 767px) {
    .sidebar {
        border-radius: 15px;
        flex-direction: row !important;
        padding: 0 4px;
        flex-wrap: nowrap;
        box-shadow: $shadow; 
        position: fixed !important;
        width: calc(100% - 20px) !important;
        height: $sidenav-w !important;
        bottom: 8px !important;
        left: 10px;
        top: unset !important;
        align-items: center !important;
        justify-content: space-around;
        border: 1px solid $on-bg-tb; 
    }
    main{
        margin-bottom: $sidenav-w;
    }
}

$on-bg-black: #1a1a1a8f;
.router-link-active{
    color: $color-orange;
    background-color: $on-bg-black;
}

body, html, #__nuxt {
    height: 100%;
}


fieldset{
    border-radius: 10px; 
    legend{
        font-weight: bold !important;
        //letter-spacing: 2px;
        width: auto;
        padding: 5px; 
        font-size: 20px;
    }
    &.fieldset{
        border-color: $on-bg-tb;
        border-width: 1px;
         padding: 20px;
         &:not(.no-el){box-shadow: 0px 1px 2px rgb(14, 14, 14);}
     
     }
}

a.link{
    @apply text-primary;
    text-decoration: none !important;
}

.sidebar, .navbar, input, textarea, main{
@apply bg-base-100
}  

input, textarea{
    width: 100%;
}

.bg-1{
    background-color: #202020;
}

