@import "./vars";
@import "./colors";

.params-area{
    position: fixed;
    z-index: 100;
    bottom: 0;
    right: 0px;
    transition: all .1s linear;
    box-shadow: -3px -3px 5px rgba(0, 0, 0, 0.199);
    max-height: 90vh;
    padding: 0;
    margin: 0 1rem;
   .mb-2{
    margin-bottom: 0;
   }
    .content{
        display: none;
    }
    .ctrl-btn{
        transform: rotate(180deg);
    }
    &.open{
        bottom: 0; overflow-y: scroll;
        padding: 1rem;
        .mb-2{
            margin-bottom: .5rem;
        }
        .content{
            display: unset;
        }
        .ctrl-btn{
            transform: rotate(0deg);
        }
    }
    .ctrl-btn{
        float: right
    }
}
@media screen and (max-width: 767px) {
    .params-area{
        bottom: calc($sidenav-w + 20px) !important
    } 
}

@media screen and (max-width: 767px) {
    .sidebar {
        border-radius: 15px;
        flex-direction: row !important;
        padding: 0 4px;
        flex-wrap: nowrap;
        box-shadow: $shadow; 

        position: fixed !important;
        width: calc(100% - 20px) !important;
        height: $sidenav-w !important;

        bottom: 8px !important;
        left: 10px;
        top: unset !important;
        align-items: center !important;
        justify-content: space-around;
        border: 1px solid $on-bg-tb; 
    }
    main{
        margin-bottom: $sidenav-w;
    }
}

