@import "@material-design-icons/font";
@import "@flaticon/flaticon-uicons/css/all/all";
@import "./colors";
@import "./vars";
@import "./classes";


@font-face {
    font-family: Poppins;
    src: url("/assets/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: Poppins;
    src: url("/assets/fonts/Poppins/Poppins-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: Poppins;
    src: url("/assets/fonts/Poppins/Poppins-Bold.ttf");
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: Poppins;
    src: url("/assets/fonts/Poppins/Poppins-ExtraBold.ttf");
    font-weight: 800;
    font-style: "extra-bold";
}

@font-face {
    font-family: Inter;
    src: url("/assets/fonts/Inter/Inter-Regular.ttf");
}

@font-face {
    font-family: Inter;
    src: url("/assets/fonts/Inter/Inter-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: Inter;
    src: url("/assets/fonts/Inter/Inter-Bold.ttf");
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: Inter;
    src: url("/assets/fonts/Inter/Inter-ExtraBold.ttf");
    font-weight: 800;
    font-style: "extra-bold";
}

/* DM SANS */
@import url("/src/assets/fonts/DMSans/fonts.css");

main,
.sidebar {
    position: relative;
}

main {
    overflow-y: scroll;
    flex: 1;
}

.tu-app {
    position: relative;
    top: calc($sidenav-w);
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: calc(100vh - $sidenav-w);
    max-height: calc(100vh - $sidenav-w);
}

.navbar {
    position: fixed;
    border-radius: 0px;
    z-index: $bottombar-z;
    border-bottom-width: 1px;
    
    i{
        font-size: 17px;
    }
}



.shadow {
    box-shadow: $shadow;
}
.sidebar {
    width: $sidenav-w;
    border-radius: 0;
    padding: 1.2rem 4px;
    border-right-width: 1px;
    z-index: $bottombar-z;
    height: calc(100vh - $sidenav-w);
    i{
        font-size: 20px;
    }
}




$on-bg-black: #1a1a1a8f;
.router-link-active{
    //color: $color-orange;
    //background-color: $on-bg-black;
}

body, html, #__next {
    height: 100%;
}


fieldset{
    border-radius: 10px; 
    legend{
        font-weight: bold !important;
        //letter-spacing: 2px;
        width: auto;
        padding: 5px; 
        font-size: 20px;
    }
    &.fieldset{
        border-color: $on-bg-tb;
        border-width: 1px;
         padding: 20px;
         &:not(.no-el){box-shadow: 0px 1px 2px rgb(14, 14, 14);}
     
     }
}

a.link{
    @apply text-primary;
    text-decoration: none !important;
}

.sidebar, .navbar, input, textarea, main{
background-color: $bg-color;
}  

input, textarea{
    width: 100%;
}

.bg-1{
    background-color: #202020;
}

